  table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
  }

  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-hour {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

  button[name="risolvi"] {
    position: relative;
    margin-right: 25px;
  }

  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  #listImages {
    display: flex;
    flex-direction: row;
    justify-items: center;
    overflow: auto;
    max-width: 60vh;
    height: 40vh;
    align-self: flex-end;
  }

  img {
    width: 25vh;
    height: 25vh;
    margin-right: 20px;
  }

  #listImages .mat-list-item {
    height: auto;
  }

  .errorType {
    color: #c25127;
  }

  .mat-raised-button {
    color: white !important;
  }

  .border {
    border-width: 1px;
    border-color: black;
    border-style: solid;
  }

  .solveButton {
    background-color: #F0F0F2;
    color:#454C5E;
    border-color: #454C5E;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
  }

  .rightContent {
    align-self: flex-end;
    min-width: 45%;
  }

  mat-accordion {
    margin: 2%
  }
  .handleProblemForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    text-align: center;
    width: 70vh;
    height: 45vh;
}

.checkboxList, mat-radio-group
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;

}

#divCheckboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.proceedButton{
  background-color: #454C5E;
  color:#F0F0F2;
  border-radius: 0;
}
.inlineDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
