div {
    display: flex;
    justify-content: center;
    align-content: center;
}

button, mat-form-field, input {
    width: 95%;
}

h1 {
    text-align: center;
}
.mat-form-field-wrapper {
	 padding-bottom: 0em;
}